/* Creamos dentro de cada div, otro div con id "orange". Por medio de la posición en absolute, se ubicará en el centro de cada elemento contenedor. 
Esto ocurre debido a que se posiciona segun el elemento más cercano */
#orange {
    position: absolute;
	bottom: 75px;
	right: 75px;
	width: 50px;
	height: 50px;
    background: orangered;
}

#box_1 { 
    position: absolute; 
    top: 0; 
    left: 0; width: 200px; height: 200px; background: #ee3e64; } 
#box_2 { 
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 200px;
     height: 200px; 
     background: #44accf; } 
#box_3 { 
    position: absolute; 
    bottom: 0; 
    left: 0;
     width: 200px; 
     height: 200px;
      background: #b7d84b; } 
#box_4 { 
    position: absolute; 
    bottom: 0; 
    right: 0; 
    width: 200px; 
    height: 200px; 
    background: #ebde52; }
#orange {
    position: absolute;
	bottom: 75px;
	right: 75px;
	width: 50px;
	height: 50px;
    background: orangered;
}